@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;

}

.logo {
    /* width: ; */
    position: static;
    display: flex;

    align-items: center;
    text-align: center;
}

nav {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    gap: 500px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;














}

.navtext {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 54px;
    flex-direction: row;





}

.logoh {

    text-align: end;
    display: inline;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
    padding-left: 3px;


}

a {
    text-decoration: none;
    color: gray;
    text-transform: capitalize;
    font-weight: bolder;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
}

.nike {
    color: #ff8367;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

a:hover {
    color: black;


}

.bar {
    display: none;
}


.container {
    display: flex;
    width: 100%;


    flex-direction: row;
    justify-content: space-evenly;



}

.container img {
    width: 50%;
    justify-content: center;
    margin-top: 70px;
    margin-left: 100px;
}

.firstcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    position: relative;
    right: 20%;
    gap: 5px;

    align-items: first baseline;
}

.nikereact {

    font-size: 76px;
    color: #ff8367;
    font-family: "Bebas Neue", sans-serif;

}

.nikereact h1 {
    display: inline;
}

.infinity {
    color: #363958;
    font-family: "Bebas Neue", sans-serif;
    font-size: 76px;
}

.lorem {
    display: flex;
    align-items: first baseline;
    text-align: left;
    color: #363958;
    font-weight: 300;
    font-family: 'roboto', sans-serif;
    font-size: 18px;


}

.buynow {



    padding: 10px;
    border-radius: 8px;
    font-size: 9px;
    margin-top: 10px;
    text-align: center;
    text-decoration: solid;
    font-size: 15px;
    color: rgb(20, 115, 203);
    font-weight: bold;
    border-left: 20px;
    background-color: #3D4FF3;

}

button {
    background-color: #3D4FF3;
    border: none;
    color: white;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.background {
    margin-top: 100px;
    background-color: #dedcdc;
    height: 2300px;
    width: 100%;

}

.casualshoesh {
    font-family: 'Bebas Neue';
    font-size: 48px;
    color: #363958;
    position: relative;
    left: 140px;
    top: 70px;
}

.casualshoes {
    display: flex;
    flex-flow: column;
    margin-left: 25px;
    background-color: aliceblue;
    width: 410px;
    height: 580px;

    align-items: center;
    padding-top: 10px;
    border-radius: 15px;
    margin-top: 70px;




}

.casualshoes img {

    width: 380px;
    background-color: #ececec;
    border-radius: 15px;









}


.button2 {

    display: block;
    width: 100px;

    padding: 10px;
    border-radius: 8px;
    font-size: 9px;
    margin-top: 10px;
    text-align: center;
    text-decoration: solid;
    font-size: 15px;
    color: rgb(20, 115, 203);
    font-weight: bold;
    border-left: 20px;
    background-color: #3D4FF3;


}

.nikeshoe {

    display: flex;
    font-family: 'roboto', sans-serif;

    font-size: 24px;
    font-weight: bold;
    color: #363958;
    text-transform: capitalize;
    align-self: first baseline;
    padding-left: 25px;
    margin-top: 10px;

}

.aboutnike {
    font-family: 'roboto', sans-serif;

    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    justify-self: first baseline;
    padding-right: 13px;


}

.highlight {
    display: flex;
}

.price {
    display: flex;
    gap: 170px;
    padding-bottom: 20px;
}

.dollar {
    font-family: 'roboto', sans-serif;

    font-size: 20px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    color: #ff8367;
}

#casualshoes {
    display: flex;
    justify-content: center;

}




.formalshoes {


    display: flex;
    flex-flow: column;
    margin-left: 25px;
    background-color: rgb(255, 255, 255);
    width: 410px;
    height: 560px;
    align-items: center;
    padding-top: 10px;
    border-radius: 15px;
    margin-top: 70px;

    box-shadow: 3px 3px 3px rgb(208, 208, 208);



}

.formalshoes img {
    width: 380px;
    background-color: #ececec;
    background: none;
}

.formalshoesc {
    display: flex;
    justify-content: center;
    position: relative;
    right: 100px;
    top: 50px;

}

.formalshoesh {
    font-family: 'Bebas Neue';
    font-size: 48px;
    color: #363958;
    position: relative;
    left: 230px;
    top: 10px;

}

.width {
    width: 100%;
}

.width img {
    width: 100%;
}


.img7 {


    display: flex;
    justify-content: end;
    margin-top: 100px;
    margin-right: 100px;
}

.img7 img {
    width: 653px;
}

.find img {
    width: 80px;
    margin: 20px;
    padding-right: 30px;
}

.find {
    display: flex;

    background-color: white;
    width: 450px;
    margin-left: 130px;
    padding-left: 30px;
    padding-right: 35px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;


}

.fcontainer {

    display: flex;
    flex-direction: column;

}

.ftext {

    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-family: 'roboto', sans-serif;

}

.fh {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: bolder;
    color: #363958;
    padding: 3px;
    padding-bottom: 10px;


}

.ffcontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;

}

.containerf {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 100px;
}

.inputc {
    width: 1200px;
    height: 230px;
    background-color: white;
    margin-top: 100px;
    border-radius: 20px;
    margin-left: 150px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);

}

.inputt {
    display: flex;
    justify-content: center;

    position: relative;
    top: 30px;


    font-size: 35px;
    color: #363958;
    text-transform: uppercase;
    font-family: 'Bebas Neue';


}

.input {
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
    gap: 0;
    margin: 0%;

}

input {
    width: 1000px;
    height: 30px;
    border-radius: 3px;
    border: solid #ced4da;
    margin: 0%;
    padding: 5px;

}

:placeholder-shown {
    padding-left: 10px;
}

button {
    padding: 10px;
    font-size: small;
    border-radius: 5px;
    padding-right: 10px;
    margin-left: -2px;
    padding: 5px;
    font-family: 'Roboto ' sans-serif;
    font-weight: 500;
    text-transform: uppercase;

}





.footer {
    width: 100%;
    height: 300px;
}

.footer1 {
    display: flex;
    gap: 2px;
    justify-content: center;
    margin-top: 70px;
    align-items: first baseline;
}

.spanf {
    font-family: 'Roboto';
    font-size: 27px;
font-weight: 300;
    color: #363958;
    font-family: 'Bebas Neue';

}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    

}

.footert {
    color: #212529;
    font-size: 18px;
        font-family: 'Roboto ' sans-serif;
padding: 2px;
    
}

.footeraling {
    display: flex;
    justify-content: center;
    gap: 200px;
}
.claim{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 18px;

}
.claims{
    color: #ff8367;
}


@media screen and (max-width:480px) {
    
.footerr{
            background-color: #dedcdc;
            padding-top: 5px;
            padding-bottom: 30px;

    
}
input{
    width: 200px;
    
}
.footeraling{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.claim{
    display: flex;
    position: relative;
    top: 650px;
    padding-bottom: 20px;
    
}

.inputc{
    width: 400px;
    box-shadow: #000000;
    position: relative;
    right: 130px;
            

        box-shadow: 3px 3px 3px rgb(208, 208, 208);

}



    .bar {
        display: block !important;


    }

    .firstcontent {
        padding-top: 100px;

    }



    #casualshoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
        background-color: rgb(255, 255, 255);

    }

    .formalshoesc {
        display: flex;
        flex-flow: column;
        padding-left: 115px;

    }

    p {
        position: relative;
        right: 100px;
    }











    .navtext {
        display: none;
    }


    .containerf {
        display: flex;
        flex-direction: column;
        background-color: #dedcdc;
        margin-right: 100px;
        width: 150%;

        gap: 0;




    }

    .img7 {
        width: 100%;
        order: -1;

    }

    .img7 img {
        width: 60%;
        margin-right: 60px;

    }

    .find {
        display: flex;
        flex-direction: column;
    }


}